* {
    margin: 0;
    padding: 0;
}

body {
    font-family: Helvetica, sans-serif;
    font-size: 16px;
    background-color: #f8fafc;
    color: #6b7280;
}

/* reset <a> */
a {
    text-decoration: none;
    color: #6b7280;
}

.container {
    max-width: 960px;
    margin: auto;
}

.big-text {
    text-align: center;
    text-transform: uppercase;
    margin-top: 16px;
    margin-bottom: 16px;
    font-weight: bold;
    color: orangered;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;

}

/* nav bar styles */
.navbar {
    margin-bottom: 20px;
    text-align: center;
}

.nav-item {
    margin-right: 20px;
}

.nav-item:hover {
    color: #f97316;
}

.content {
    margin-bottom: 30px;
}

.content p {
    text-align: center;
}

.content-banner {
    background-image: url("../images/Pizza_Margherita_stu_spivack.jpg");
    height: 400px;
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    border-radius: 12px;
}

.banner-info {
    padding-top: 30px;
    padding-left: 30px;
    color: white;
}

.banner-info button a {
    color: blue;
}

.banner-info button {
    padding: 4px;
    border-radius: 4px;
}

.categories-receipe {
    margin-top: 20px;
    margin-left: 80px;
    text-align: left;
}

ul li {
    padding-left: 200px;
    list-style-type: none;
    padding-top: 20px;
    color: blue;
}

.bg-image {
    background-image: url("../images/1573742029.jpg");
    height: 400px;
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    border-radius: 12px;
}

.more {
    color: black;
}

/* contact page */
.contact-form p {
    text-align: center;
}

.contact-form form {
    margin-top: 20px;
    width: 100%;
}

.custom-input {
    width: 50%;
    display: block;
    padding: 8px;
    margin-top: 4px;
    margin-bottom: 6px;
}

textarea {
    width: 50%;
    padding: 8px;
}

.button-area {
    padding-left: 6px;
    padding-right: 6px;
    color: blue;
    padding-top: 4px;
    padding-bottom: 4px;
    background-color: grey;
    border: none;
}

.recipe-steps {
    margin-top: 20px;
}

.recipe-title {
    color: orangered;
    padding-top: 10px;
    padding-bottom: 10px;
}

.recipe-title:hover {
    color: black;
}

.table-image {
    height: 300px;
    width: 100%;
    object-fit: cover;
}

.image {
    height: 600px;
    width: 100%;
}

.button a {
    padding: 10px;
    border-radius: 4px;
    color: blue;

}